
<div>
    <div class="container card rounded-5 mx-auto my-5 py-3 px-4" data-loading-target="form"> <!-- Adjust padding and margin here -->
    
</div>
</div>


<footer class="footer">
    <div class="footer-links">
    <footer><%= render 'shared/footer' %> </footer>
    </div>
</footer>
