<div class="custom-styling">
    <h1 class="custom-h1">PLANNING AN EVENT?</h1>

    <div class="container card rounded-5 mx-auto my-5 py-3 px-4" data-loading-target="form"> <!-- Adjust padding and margin here -->
        <h3>LET'S GET IN TOUCH!</h3>
        <br>
        <a href="mailto:onenationpremium1@gmail.com" target="_blank" class="contact-link">
            <i class="fa-regular fa-envelope fa-2x" style="color: #000000;"></i> <span class="contact-text">onenationpremium1@gmail.com</span>
        </a>
        <br>
        <br>
        <a href="https://www.facebook.com/Onenationpremium_dreamfood" target="_blank" class="contact-link">
            <i class="fa-brands fa-facebook fa-2x" style="color: #000000;"></i> <span class="contact-text">Onenationpremium_dreamfood</span>
        </a>
        <br>
        <br>
        <a href="https://www.instagram.com/Onenationpremium_dreamfood" target="_blank" class="contact-link">
            <i class="fa-brands fa-instagram fa-2x" style="color: #000000;"></i> <span class="contact-text">Onenationpremium_dreamfood</span>
        </a>
        <br>
        <br>
        <a href="tel:0605999979" target="_blank" class="contact-link">
            <i class="fa-solid fa-phone" style="color: #04070b;"></i> <span class="contact-text">+27 60 599 9979</span>
        </a>
    </div>
</div>
