    <div class="about card rounded-5 mx-auto my-5 py-3 px-4" data-loading-target="form">
      <p>Take a peek into the heart of Dreamfood with "Our Giving Moments." 🌟 See the good vibes we've shared through donations and community care snaps. It's all about spreading smiles and positive vibes</p>
    </div>






<footer class="footer">
  <div class="footer-links">
    <footer><%= render 'shared/footer' %> </footer>
  </div>
</footer>
