<h1>OUR WORK</h1>

<div class="content-cards">
  <% @contents.each do |content| %>
    <div class="content-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= content.media_url %>)">
    </div>
  <% end %>
</div>

<footer class="footer">
    <div class="footer-links">
    <footer><%= render 'shared/footer' %> </footer>
    </div>
</footer>
