/ .footer {
  //   background: #F4F4F4;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   height: 100px;
  //   padding: 0px 50px;
  //   color: rgba(0,0,0,0.3);
  // }
  // .footer-links {
  //   display: flex;
  //   align-items: center;
  // }
  // .footer-links a {
  //   color: black;
  //   opacity: 0.15;
  //   text-decoration: none;
  //   font-size: 24px;
  //   padding: 0px 10px;
  // }
  // .footer-links a:hover {
  //   opacity: 1;
  // }
  // .footer .fa-heart {
  //   color: #D23333;
  // }


  /* Add these styles to your CSS file */

  // html, body {
  //   height: 100%;
  //   margin: 0;
  //   padding: 0;
  // }

  .footer {
    background-color:transparent; /* Change the background color to your preference */
    color:black; /* Change the text color to your preference */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
  }

  .footer a:hover {
    color: gray; /* Change the color to gray on hover */
  }


  .footer a {
    font-size: 24px; /* Adjust the font size to make the icons bigger */
    text-decoration: none; /* Remove underline from links */
    color:black; /* Change the color of the icons to your preference */
  }
